<section class="column">
  <ul class="footer-links">
    <li><strong>Carte du Vin</strong></li>
    <li>1234 Anywhere Street,<br />Chicago IL 00000</li>
    <li>555-555-5555</li>
  </ul>
</section>
  
<section class="column">
  <ul class="footer-links">
    <li><strong>Partner Websites</strong></li>
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
  </ul>
</section>

<section class="column last">
  <ul class="footer-links">
    <li><strong>Social Media Links</strong></li>
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
  </ul> 
</section>
