<section class="column">
  <ul class="footer-links">
    <li><strong>Rasmea Defense Committee({{site.baseurl}}/defense-committee.md)</strong></li>
    <li><a href="mailto:justice4rasmea@uspcn.org">justice4rasmea@uspcn.org</a></li>
  </ul>
</section>
  
<section class="column">
  <ul class="footer-links">
    <li><strong>Led By:</strong></li>
    <li><a href="http://uspcn.org/">US Palestinian Community Network</a></li>
    <li><a href="http://www.stopfbi.net/">Committee to Stop FBI Repression</a></li>
  </ul>
</section>

<section class="column last">
  <ul class="footer-links">
    <li><strong>Social Media Links</strong></li>
    <li><a href="https://www.facebook.com/pages/Committee-to-Stop-FBI-Repression/157815534236433">Stop FBI Facebook</a></li>
    <li><a href="https://www.facebook.com/USPCN">USPCN Facebook</a></li>
    <li><a href="https://www.facebook.com/pages/Free-Rasmea-Now/678264732186412">Free Rasmea Now Facebook</a></li>
  </ul> 
</section>
