<header class="navigation">
  <div class="navigation-wrapper">
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link" id="home-link"><a href="{{site.baseurl}}/">Free Rasmea!</a></li>
        {% for page in site.data.nav %}
        <li class="nav-link"><a href="{{site.baseurl}}{{page.href}}">{{page.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="navigation-tools">
      <a href="{{site.baseurl}}/donate" class="sign-up">Donate</a>
    </div>
  </div>
</header>
