html {
  @include hidpi(1.5) {
    //-webkit-text-stroke: .35px;
  }
}

.has-footer {
  @include display(flex);
  @include flex-direction(column);
  min-height: 100vh;

  #bottom {
    @include flex(1);
    background-color: darken($purple, 8);
    width: 100%;

    a {
      @include transition(color .1s linear);
      color: transparentize(#fff, .5);
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }
  }
}

// basic page margins
.content { 
  @include outer-container;
  padding: 1rem;

  aside {
    font-size: $base-font-size * 1.1;
    font-weight: 200;
    letter-spacing: $base-letter-spacing;
    line-height: 1.4;
    
    .scroll-to-top {
      display: none;
    }

    a {
      @include transition(color .1s linear);
      color: transparentize(#fff, .5);
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }
}

.column {
  @include media($medium-screen-up){
    @include span-columns(4 of 12);
  }
}

.last {
  @include media($medium-screen-up) {
    @include omega;
  }
}

}

#top { 
  $header-image: "../img/header_banner.jpg";
  @include background(url($header-image));
  background-color: darken($base-accent-color, 24);
  background-position: center 20%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 1rem;
  width: 100%;
}

.article-header {
  margin-bottom: $base-font-size * 2;
  margin-top: 0;
  h1 { margin-top: 1rem; }
  .meta, 
  .author {color: #fff; }
}

.content {
  @include media($medium-screen-up){

    article {
      @include span-columns(8);
      
      p {
        font-size: 1.1rem;
        margin-right: 1em;
      }
    }
    
    aside {
      @include span-columns(4);
      @include omega;
    }

    aside > * {
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  }
}

#post-list {

  h4, h5, h6 {
    margin-bottom: .25em;
  }

  h6.date {
    margin-top: 0;
  }

  p.excerpt {
    font-size: $base-font-size;
    margin-bottom: 1em;
  }
}

#bottom section {
  color: #fff;
  font-size: $base-font-size * .85;
  opacity: .65;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// fix for nav bar overlap
@media screen and (max-width: $medium-screen) {
  .article-header h1 {
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
}

// forms
fieldset#signup {
  margin-top: 0;
  font-size: $base-font-size * .75;
  border-radius: 5px;
  h4 {
    margin-top: 0;
  }
}

// responsive video
.video-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  position: relative;

  embed,
  object,
  iframe {
    @include position(absolute, 0 null null 0);
    @include size(100%);
  }
}

