<!DOCTYPE html>
<html>
{% include head.html %}
<body class="home has-footer">
  {% include nav.html %}
  <div class="hero">
    <div class="hero-inner">
      <div class="hero-copy">
        <h1>Supporting & Defending Civil Rights, a fundraiser for Rasmea</h1>
        <p>Sunday, April 19th, 1–4pm.</h1></p>
        <a href="{{site.baseurl}}/events/2015/04/19/supporting-and-defending-civil-rights/" class="button">More Info</a>
     
      </div>
</div>
  </div>
  <div id="main">
    <div class="content">
      <section class="column">
        <h3>{{page.callouts[0].heading}}</h3>
        <p>{{page.callouts[0].section}}</p>
      </section>
      <section class="column">
        <h3>{{page.callouts[1].heading}}</h3>
        <p>{{page.callouts[1].section}}</p>
      </section>
      <section class="column last">
        <h3>@justice4rasmea</h3>
        <div class="twitter-block">{% include twitter.html %}</div>
      </section>
    </div>
  </div>
  <div id="bottom">
    <div class="content">
      {% include footer.html %}
    </div>
  </div>

</body>
