<!DOCTYPE html>
<html>
{% include head.html %}
<body class="home has-footer">
  {% include nav.html %}
  <div class="hero">
    <div class="hero-inner">
      <div class="hero-copy">
        <h1>Rasmea Accepts a Plea Agreement with No Prison Time</h1>
        <p>All out to Detroit for plea hearing, April 25
        <a href="{{site.baseurl}}/news/2017/03/23/rasmea-accepts-plea-deal/" class="button">Read More</a>
     
      </div>
</div>
  </div>
  <div id="main">
    <div class="content">
      <section class="column">
        <h3>{{page.callouts[0].heading}}</h3>
        <p>{{page.callouts[0].section}}</p>
      </section>
      <section class="column">
        <h3>{{page.callouts[1].heading}}</h3>
        <p>{{page.callouts[1].section}}</p>
      </section>
      <section class="column last">
        <h3>@justice4rasmea</h3>
        <div class="twitter-block">{% include twitter.html %}</div>
      </section>
    </div>
  </div>
  <div id="bottom">
    <div class="content">
      {% include footer.html %}
    </div>
  </div>

</body>
