<!DOCTYPE html>
<html>
{% include head.html %}
<body class="home has-footer">
  {% include nav.html %}
  <div class="hero">
    <div class="hero-inner">
      <div class="hero-copy">
        <h1>Happy Holidays from Rasmea and the Defense Committee!</h1>
        <p>Make your year-end donation now!</p>
        <a href="{{site.baseurl}}/news/2016/12/28/happy-holidays/" class="button">Read & Support</a>
     
      </div>
</div>
  </div>
  <div id="main">
    <div class="content">
      <section class="column">
        <h3>{{page.callouts[0].heading}}</h3>
        <p>{{page.callouts[0].section}}</p>
      </section>
      <section class="column">
        <h3>{{page.callouts[1].heading}}</h3>
        <p>{{page.callouts[1].section}}</p>
      </section>
      <section class="column last">
        <h3>@justice4rasmea</h3>
        <div class="twitter-block">{% include twitter.html %}</div>
      </section>
    </div>
  </div>
  <div id="bottom">
    <div class="content">
      {% include footer.html %}
    </div>
  </div>

</body>
